body {
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background: #000000;
    line-height: 1.6;
}

header {
    background: #ce1d1d;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .portfolio-title {
    margin-left: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

.socials a {
    color: #ffffff;
    margin: 0 0.5rem;
    font-size: 1.8rem;
    transition: color 0.3s;
}

.section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#about,
#skills,
#projects,
#contact {
    background: #000000;
    color: #ffffff;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 2rem 1rem;
}

#about .profile {
    text-align: center;
}

.profile {
    max-width: 600px;
    margin: 0 auto;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    flex: 1 1 200px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill img {
    width: 80px;
    height: 70px;
    margin-bottom: 10px;
}

.skill h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.skill p {
    font-size: 1.1em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    flex: 1 1 calc(30% - 2rem);
    margin-bottom: 1.5rem;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.project img {
    width: 100%; /* Ensure image takes full width of parent container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    max-width: 250px; /* Set maximum width to control size */
}

.project h3 {
    margin-top: 0;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form input,
form textarea {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
}

form input,
form textarea {
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

form button {
    padding: 0.7rem 1.5rem;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #000000;
}

footer {
    background-color: #ce1d1d;
    color: #000000;
    text-align: center;
    padding: 1.5rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

footer .socials {
    margin-top: 1rem;
}

footer .socials a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .socials a:hover {
    color: #ddd;
}
