body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #ffffff;
    line-height: 1.6;
}

header {
    background: #138076;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
}

.section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#about {
    background: #d0d4d4;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 2rem 1rem;
}

.profile {
    text-align: center;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 1rem;
}

#projects {
    background: #d0d4d4;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 2rem 1rem;
}

.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    margin-top: 0;
    color: #333;
}

#contact {
    background: #d0d4d4;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 2rem 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

footer .socials {
    margin-top: 1rem;
}

footer .socials a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .socials a:hover {
    color: #ddd;
}
